.module-one {
  font-size: 10px; }
  .module-one main .card {
    width: 450px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px; }
    .module-one main .card img {
      width: 100%; }
    .module-one main .card .description-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 10px; }
      .module-one main .card .description-container .brand {
        color: #00D0BB;
        font-size: 1rem;
        letter-spacing: 3px; }
      .module-one main .card .description-container .description {
        font-size: 2rem; }
      .module-one main .card .description-container .price {
        font-size: 1.8rem;
        color: #00D0BB; }
    .module-one main .card .buttons-container {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .module-one main .card .buttons-container .button {
        width: 215px;
        height: 70px;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        font-size: 1.5rem; }
        .module-one main .card .buttons-container .button:hover {
          cursor: pointer; }
    .module-one main .card .blue {
      background-color: #0191DE; }
    .module-one main .card .pink {
      background: #F535C1; }
